// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




//home page css----

.header{
    height: 40px;
}


.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-banner-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3AAFD2;
    width: 100%;
}

.home-page-banner-text-container{
    background-color: #3AAFD2;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    max-width: 1100px;
}

.home-page-banner-image{
    height: 600px;
    margin-bottom: -6px;
}

.home-page-banner-image-container{
    max-width: 1100px;
    margin-bottom: -5px;
}

.home-page-banner-title{
    font-size: 20px;
}

.home-page-banner-heading{
    font-size: 40px;
    line-height: 12px;
}

.home-banner-gender-filter-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner-gender-filter-container{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-card{
   margin-right:20px;
   margin-bottom: -400px;
}

.home-banner-gender-heading{
    font-size: 20px;
    color: black;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    line-height: 6px;
}

.home-banner-gender-image{
    height: 200px;
    width: 400px;
}

.home-banner-gender-heading-container{
    height: 60px;
}

// trending section ----

.home-trending-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-trending-section-heading{
    font-size: 35px;
    margin-top: 200px;
}
//login-conTainer
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.font1{
    font-family: sans-serif;
}



// trending section end ----



//home page css end ----

// products page css

.product-heading{
    font-size: 30px;
    font-weight: 400;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0;
    height: 70px;
    margin-bottom: 30px;
}

.side-bar{
    margin-left: 20px;
    width: 25%;
}

.search-element{
    height: 40px;
    min-width: 250px;
    max-width: 700px;
    padding-left: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 6px 0 #bfbfbf;
}

.header{
    font-size: 30px;
    margin: 0;
}

.search-button{
    height: 40px;
    width: 45px;
    background-color: #E91E63;
    border: none;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 6px 0 #bfbfbf;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 3px;
    margin-bottom: 30px;
}

.side-bar-headings{
    font-size: 20px;
    margin: 0;
}

.category-container{
    background-color: #E91E63;
    color: #ffffff;
}

.products-page-display-section{
    display: flex;
    width: 100%;
}

.display-products-section{
    width: 100%;
}

.products-container{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product-item{
    margin-right: 100px;
    margin-bottom: 50px;
    width: 200px;
    
}

.product-image{
    height: 200px;
    width: 220px;
}

.product-title{
    font-size: 15px;
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.product-price-rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-count{
    margin-right: 5px;
}

.product-nav-container{
    height: 30px;
}

.product-catogory-card-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-category-card-heading{
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.products-category-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

// products page css end--